body{
  background-color: #eeeeee;

}




.link{
  color: #0018bb;
}




.toolBar{
  background-color: #c9e2ff;
  border-bottom: 3px solid #93c5ff;
  padding: 2px;
}

.subjectPage{
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}






.section{
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
  margin-bottom: 20px;


  margin-left: 10px;
  margin-right: 10px;
}


.infoBox{
  /*
  border: 1px solid #aaa;
  border-spacing: 3px;
  color: black;
  */
  padding: 3px;
  background-color: #dee6f0;
}

.infoBox div{
  margin: 3px;
}





.contentList {

}

.contentItem{
  padding: 2px;
  margin-top: 4px;
  margin-left: 0px;
  display: block;
}

.contentItem_galaxy{
  background-color: #f5d7f6
}

.contentItem_star{
  background-color: #e7cba2
}

.contentItem_system{
  background-color: #eecc99
}

.contentItem_planet{
  background-color: #dddddd
}

.contentItem_facility{
  background-color: #7a7a7a
}
